.Home {
    margin-top: 40px;
    width: 100vw;
    max-width: 700px;
    height: calc(100vh - 40px);
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(216, 220, 227);
}

.Home .header, .footer, textarea {
    width: 100%;
}

.Home .header, .footer {
    background-color: rgb(247, 248, 250);
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.Home .header {
    border-bottom: 1px solid rgb(216, 220, 227);
    justify-content: space-between;
}

.Home .header h3 {
    margin: 0;
}

.Home textarea {
    flex: 1;
    resize: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid rgb(216, 220, 227);
    font-size: 1rem;
  }

  .Home .footer {
    border-top: 1px solid rgb(216, 220, 227);    
    justify-content: flex-end;
  }


  .Home button:not(:first-child) {
      margin-left: 15px;
  }